
<% my_class_name = "show-page" %>
<div class="<%= my_class_name %>">
  <img src="<%=@flashcard.picture_url%>", class:"show-page-image" >
  <h1><%= @flashcard.word %></h1>
  <h3><%= @flashcard.topic.topic %></h3>


  <audio controls="controls">
  <source src="<%=@audio%>" type="audio/wav">
</audio>
</div>
<br/>

<%= button_to "Home", root_path, class:"home-link", method: :get %>
