<div class="wrapper">
  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background:black">

          <img src="<%=@flashcard.picture_url%>">
        </div>
        <div class="back">
          <div class="inner">
            <h1><%= @flashcard.word %></h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <% my_class_name = "show-page" %>
    <div class="<%= my_class_name %>">
      <h3><%= @flashcard.topic.topic %></h3>
      <audio controls="controls">
        <source src="<%=@audio%>" type="audio/wav">
      </audio>
    </div>

    <br/>
  <%= button_to 'Back', topic_path, class:"home-link", method: :get %>
    <!-- <%= button_to "Home", root_path, class:"home-link", method: :get %> -->
