<% my_class_name = "show_page" %>
<div class="<%= my_class_name %>">




  <img src="<%=@flashcard.picture_url%>", >
</div>

<a href="<%=@audio%>"><%= image_tag("hearing symbol.png", :alt => "hearing symbol") %></a>


<h1><%= @flashcard.word %></h1>
<br/>

<%= link_to "Home", flashcards_path%>
